{% extends 'base.html' %}
{% block content %}
<div class="rongqi1">
<div class="page-header">
  <h1>Board <small>求关注！来互相关注一波！</small></h1>
</div>
	<div class="center">

		
			{% for board in board_list %}
			<ul>
			<div class="row">
				
				<div class="col-md-8">
					<h3>
						<li>
							<a href="{{board.href_name}}" target="_blank">{{board.name}}</a>
							<img src="{{board.img_href}}"  width="200" height="100" />
						</li>
					</h3>

				</div>
			</div>
			</ul>
			{% endfor %}
		

	</div>

</div>
{% endblock %}