{% extends 'base.html' %}
{% block content %}
<div class="rongqi1">
	<div class="center">

		<ul>
			<h1>Niggaz：</h1>
			{% for link in link_list %}
{% if link.kinds == 'f' %}
			<div class="row">
				
				<div class="col-md-8">
					<h3>
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</h3>
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>
		<ul>
			<h1>Sites：</h1>
			{% for link in link_list %}
{% if link.kinds == 'w' %}
			<div class="row">
				
				<div class="col-md-8">
					<h3>
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</h3>
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>

		<ul>
			<h1>Others：</h1>
			{% for link in link_list %}
{% if link.kinds == 'o' %}
			<div class="row">
				
				<div class="col-md-8">
					<h3>
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</h3>
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>

	</div>
</div>
{% endblock %}