{% extends 'base.html' %}
{% block content %}

<div class="rongqi2">
<div class="page-header">
  <h1>Links <small>友情链接</small></h1>
</div>
	<div class="center">

		<ul>
			<h2 class="post-hd">Niggaz</h2>
			{% for link in link_list %}
{% if link.kinds == 'f' %}
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-8">
					
					<div class="post-bd">
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</div>
					
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>
		<ul>
			<h2>Sites</h2>
			{% for link in link_list %}
{% if link.kinds == 'w' %}
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-8">
					<div class="post-bd">
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</div>
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>

		<ul>
			<h2>Others</h2>
			{% for link in link_list %}
{% if link.kinds == 'o' %}
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-8">
					<div class="post-bd">
						<li>
							<a href="{{link.href_name}}" target="_blank">{{link.name}}</a>
						</li>
					</div>
				</div>
			</div>
			{% endif %}
 {% endfor %}
		</ul>

	</div>
</div>
{% endblock %}