{% extends 'base.html' %}
{% block content %}
<div class="rongqi1">
<div class="page-header">
  <h1>Products <small>我的作品</small></h1>
</div>
	<div class="center">
		
		<ul>
			<div class="row">
				{% for product in products_list %}
				<div class="col-md-6">
					<h3>
						<li>
							<a href="{{product.href_name}}" target="_blank">{{product.name}}</a>
						</li>
					</h3>
					<img src="{{product.img_href}}">
					<p>{{product.intro}}</p>
				</div>
				{% endfor %}
			</div>
		</ul>
		
	</div>
</div>
{% endblock %}